
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

input{
    padding: 30px;
    border-radius: 10px;
    text-align: right;
    background-color: black;
    color: #ffffff;
    font-size: 40px;
    width: 20rem;
    height: 6rem;
    border-style: none;    
  }

  input::placeholder{
    font-size: 40px;
    color: #ffffff;
    font-weight: 200;
  }

  button{
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-style: none;
    color: #ffffff;
    background-color: gray;
    font-size: 20px;
  }

  .or_clbtn{
    background-color: #ffa500;
  }

  .lg_clbtn{
    background-color: #d3d3d3;
    color: black;
  }

  .zero{
    text-align: left;
    width: 8rem;
    border-radius: 30px;
  }