
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');

/* Apply fonts and background image to the body */
body {
    display: flex;
    padding: 0 10px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: url('bg.jpg') no-repeat fixed center center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #fffffc;
    lighting-color: #fffffc;
}

/* Style the wrapper */
.wrapper {
    height: 265px;
    background: #fffffd;
    border-radius: 7px;
    padding: 20px 25px 0;
    transition: height 0.2s ease;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.wrapper.active {
    height: 530px;
}

/* Style the header */
header h1 {
    font-size: 21px;
    font-weight: 500;
}

header p {
    margin-top: 5px;
    font-size: 16px;
}

/* Style the form */
.form input,
.form button {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: 0.1s ease;
}

.form input {
    font: 18px;
    padding: 0 17px;
    border: 1px solid #b9afaf;
}

.form input:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.form input::placeholder {
    color: #614747;
}

.form button {
    color: #e43b3b;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

/* Style the QR code */
.qr-code {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 0;
    border-radius: 5px;
    pointer-events: none;
    border: 1px solid #ccc;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.05s ease;
}

.qr-code img {
    width: 170px;
}

/* Responsive styles for smaller screens */
@media (max-width: 430px) {
    .wrapper {
        height: 255px;
        padding: 16px 20px;
    }

    .wrapper.active {
        height: 510px;
    }

    header p {
        color: aqua;
    }

    .form input,
    .form button {
        height: 52px;
    }

    .qr-code img {
        width: 160px;
    }
}
